:root {
    --bg-color: #f0f0f0;
    --primary-bg-color: #174143;
    --secondary-bg-color: #427A76;
    --primary-text-color: #F9B487;
    --secondary-text-color: #FFDBB6;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

.navbar-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar-parent {
    height: 60px;
    background-color: var(--primary-bg-color);
}

.navbar-brand-name {
    color: var(--primary-text-color);
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}

.navbar-accont {
    color: var(--secondary-text-color);
    font-size: 16px;
    padding-right: 20px;
}

.search-bar {
    width: 40%;
    height: 28px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}

.card-1 {
    background-color: var(--primary-bg-color);
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
}

.card-2 {
    background-color: var(--secondary-bg-color);
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
}