:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #e7000b;
    --primary-text-color: #171717;
    --secondary-text-color: #525252;
    --transition: 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}   

.navbar-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid;
    background-color: var(--primary-bg-color);
    box-shadow: 0 2px 4px rgba(243, 242, 242, 0.1);
}

.navbar-links{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: auto;
    align-items: center;
}


a {
    text-decoration: none;
    color: inherit;
}