:root {
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #e7000b;
    --primary-text-color: #171717;
    --secondary-text-color: #525252;
    --transition: 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-weight: ui-sans;
}

.branding-section {
    position: relative;
}

.top-section-bg {
    position: absolute;
    object-fit: cover;
    width: 100%;
    z-index: -1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(243, 242, 242, 0.1);
}

.navbar-parent {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-bg-color);
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.9s ease, backdrop-filter 0.9s ease;
    backdrop-filter: none;
    box-shadow: 0 2px 4px rgba(243, 242, 242, 0.1);
}

.navbar-parent.navbar-scrolled {
    background-color: var(--primary-bg-color);
    backdrop-filter: blur(10px);
    color: var(--primary-text-color);
}

.navbar-link:hover {
    color: var(--secondary-bg-color);
    transition: var(--transition);
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

.content-section{
    
}
.title-badge {
    background-color: var(--secondary-bg-color);
}